@tailwind base;
@tailwind components;
@tailwind utilities;

.container-login {
  height: 88.9vh;
}

.user-login-area {
  background-image: url(../../assets/tumb.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}